
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(198, 119, 63);   
}

/* .estilo-letra{
    font-family: 'Rubik Glitch Pop', system-ui;
} */

nav{
    background-color: sandybrown;
    color: white;
    width: 1000px;
    margin: 0 auto;
    text-decoration: none;
    padding: 10px;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.navegacion a{

    color: orange;
    text-decoration: none;
    background-color: snow;
    padding: 10px;

}

main{
    width: 1000px;
    margin: 0 auto;
}

.btn{
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: red;
    border: 3px solid white;
    box-shadow: 4px 4px 4px black;
}

.row{
    display: flex;
}

.col-1,.col-2,.col-3{

    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: silver;


}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}


.icon{

    border-radius: 25%;

}

video{
display: flex;
justify-content: center;
align-items: center;
}




.box{
    width:100%;
    height: 100%;
    height:250px;
    border:1px solid red;
    padding:1%;
    overflow: auto;

}

p {
    border: 5px groove rgb(100,100,100);

  }